<header class="modal-header">
  <h4 class="modal-title text-capitalize">Change Password</h4>

  <button type="button" class="close" aria-label="Close" (click)="cancel()">
    <span aria-hidden="true">&times;</span>
  </button>
</header>
  
<section class="modal-body">
  <form
    novalidate
    role="form"
    [formGroup]="passwordForm">
    <p2s-form-group
        label="Current Password"
        for="userCurrentPassword">
      <input
          type="password"
          class="form-control"
          id="userCurrentPassword"
          formControlName="userCurrentPassword">
    </p2s-form-group>
    <p2s-form-group
        label="New Password"
        for="userNewPassword">
      <input
          type="password"
          class="form-control"
          id="userNewPassword"
          formControlName="userNewPassword">
    </p2s-form-group>

    <p2s-form-group
        label="Confirm Password"
        for="userConfirmPassword">
      <input
          type="password"
          class="form-control"
          id="userConfirmPassword"
          formControlName="userConfirmPassword"
          [class.is-invalid]="passwordForm?.controls['userConfirmPassword']?.errors && (passwordForm?.controls['userConfirmPassword'].dirty)">
      <div class="invalid-feedback" *ngIf="passwordForm?.controls['userConfirmPassword']?.errors">
        <span *ngIf="passwordForm?.controls['userConfirmPassword']?.errors?.MatchPassword">
          Passwords must match
        </span>
      </div>
    </p2s-form-group>


  <!-- <button type="button" class="btn btn-success" ngbPopover="You see, I show up on hover!"  popoverTitle="Pop title" (click)="openPasswordChangeAlert()">
    Hover over me!
  </button> -->
  </form>
</section>

<footer class="modal-footer">

    <ng-template #popContent>
      <div>Once you change your password, You again need to login with your new Password </div>
      <button class="btn btn-success"(click)="save()">Ok</button>
    </ng-template>
    <button
        type="button"
        class="btn btn-success"
        [disabled]="showAlert"
        [ngbPopover]="popContent"
        #p1="ngbPopover"
        triggers="manual"
        (click)="toggleWithGreeting(p1)">
        <i class="fas fa-save mr-1"></i>
      Save   
    </button>


  <button type="button"
          class="btn btn-danger"
          (click)="cancel()">
    <i class="fas fa-ban mr-1"></i> Cancel
  </button>