<!-- <h1 class="text-center font-weight-bold">username form here</h1> -->

<div class="col d-flex align-items-center justify-content-center login-page bokeh-bg">
  <div class="row w-100 d-flex justify-content-center z-2">
    <div class="col-xs-12 col-sm-8 col-md-5 ">
     
        <div class="p-3 justify-content-center text-center">
          
          <!-- <span>Company Logo</span> -->
         <a href="login"><img src="assets/img/new_logo.png" > </a> 
        
       
        <h1 class="ml-2 mb-3 font-weight-bold font-size-7">
          Reset Your Password
        </h1>
      <!-- </div> -->
        
        <h5 class="ml-2 mb-3 font-weight-bold font-size-5" *ngIf="userError">
          <span class="text-danger">{{userErrorMsg}}</span>
        </h5>
        <div class="card" style="width:350px;text-align: center;display:inline-block">

          <h1 class="font-size-1 font-weight-bold ml-2 mr-1 mt-2">
            Enter your username and we will send you a link in your mail to reset your password
          </h1>

          <div class="form-group ml-3 mr-3 mt-2">

            <input type="text"
                   class="form-control"
                   name="username"
                   id="username"
                   [(ngModel)]="username"
                   placeholder="username"
            >
          </div>
          
          <div class="form-group ml-3 mr-3 mb-4">
            <!-- <button class="btn btn-block"
                    (click)="sendEmail(username)">
              send password reset mail
            </button> -->
            <button 
                type="submit"
                class="btn btn-block"
                [disabled]="submitting || !sentMail"
                (click)="sendEmail(username)">
              <span class="d-flex justify-content-center align-items-center">
                <span *ngIf="!submitting; else sendingEmail">Send Password Reset Email</span>
                <ng-template #sendingEmail>Sending Email</ng-template>
                <span class="ml-3"
                      *ngIf="submitting">
                  <p2s-spinner color="white" size="xs"></p2s-spinner>
                </span>
              </span>
            </button>
          </div>

        </div> 

        <!-- <div *ngIf="!defaultDiv" class="card" style="width:350px;text-align: center;display:inline-block">

          <h1 class="font-size-1 ml-2 mr-1 mt-2 mb-3">
            Check your email for a link to reset your password. If it doesn’t appear within a few minutes, check your spam folder.
          </h1>
          
          <div class="form-group ml-3 mr-3 mb-4">
            <button class="btn btn-block"
                    (click)="sendEmail(username)">
              Return to sign in
            </button>
          </div>


        </div> -->

        <div class="text-center my-4 px-3 font-size-1">
          <!-- © Copyright Promise 2 Secure. -->
          © Copyright Sastra Creations.
          <br>
         <!-- Email: info@promise2secure.com -->
         Email: info@sastracreations.com
        
        </div>

     
      </div>
    </div>
  </div>
</div>  


