.search {
  position: absolute;
  bottom: 26%;
  left: 80%;
  color: blue;
}

.table-fixed tbody {
  display: block;
  max-height: 325px;
  overflow-y: scroll;
}
  
.table-fixed thead,tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}