<header
    class="p-3 bg-gray-7 text-uppercase text-center text-white font-size-2">
    Assigned Order Detail
</header>
<!-- <div class="col-12"  >
  <div class="row">
<div class="col-6">
  <h5 class="font-weight-bold">Order Asign Id : {{orderAssign}}</h5>
</div>
<div class="col-6">
  <h5 class="font-weight-bold">Assign Date : {{orderAssignDateCreated | date:'yyyy-MM-dd hh:mm:ss a'}}</h5>
</div>
</div>
</div> -->
  <!-- <table class="table table-borderless table-sm ml-1" width="100%">
    <thead>
      <tr class="bg-gray-7 text-white">
        <th>Order Assign Id</th>
        <th class="text-center">Assign Date</th>
      </tr>
    </thead>
    
    <tbody>
      <tr *ngFor="let assignedOrder of assignedOrders"
      class="pointer">
        <td>
          {{assignedOrder.orderAssign}}
        </td>
        <td class="text-center">
          {{assignedOrder.orderAssignDateCreated | date:'yyyy-MM-dd hh:mm:ss a'}}
        </td>
     </tr>
    </tbody>    
   
  </table> -->
<!-- 
<h5 class="text-left font-weight-bold mt-3 ml-2">Order Details</h5>
<table class="table table-borderless table-sm ml-1" width="100%">
  <thead>
    <tr class="bg-gray-7 text-white">
      <th>Order Id</th>
      <th class="text-center">Shipper</th>
      <th class="text-center">Consigny</th>
      <th class="text-center">Commodity</th>
      <th class="text-center">Bill Status</th>
    </tr>
  </thead>
  
  <tbody>
    <tr *ngFor="let order of assignedOrders.orderAssingOrderManagementDtoList"
    class="pointer">
    <td>{{order.orderId}}</td>
      <td>
        {{order.orderManagementShipper.clientMasterFirstName}}
      </td>
      <td class="text-center">
        {{order.orderManagementShipper.clientMasterFirstName}}
      </td>
      <td class="text-center">{{order.commodityDto.commodityCode}}</td>
      <td class="text-center">{{order.orderManagementBillStatus}}</td>
   </tr>
  </tbody>    
 
</table> -->


  
 