<div class="col p-0 y-auto">
  <p2s-list-page-template
      heading="Fuel Sensor Details"
      (add)="showFuelSensorPopup('add')"
      >
    <div class="my-3 table-responsive bg-white">
      <table class="table m-0 table-hover table-bordered">
        <thead>
          <tr class="bg-gray-7 text-white">
            <th class="text-center">Profile Name</th>
            <th class="text-center">Empty voltage</th>
            <th class="text-center">Full voltage</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td class="text-center">Swift</td>
            <td class="text-center"> 0 volt</td>
            <td class="text-center">5 volt</td>
          </tr>

          <tr>
            <td class="text-center">Hyundai</td>
            <td class="text-center"> 0 volt</td>
            <td class="text-center">5 volt</td>
          </tr>

            <tr>
              <td class="text-center">Toyota</td>
              <td class="text-center">5 volt</td>
              <td class="text-center">0 volt</td>
            </tr>  

            <tr>
              <td class="text-center">Skoda</td>
              <td class="text-center">0 volt</td>
              <td class="text-center">5 volt</td>
            </tr> 
            
            <tr>
              <td class="text-center">Fortuner</td>
              <td class="text-center">5 volt</td>
              <td class="text-center">0 volt</td>
            </tr>  

        </tbody>
      </table>  
    </div>
  </p2s-list-page-template>
</div>      