<!-- <h1 class="text-center font-weight-bold">username form here</h1> -->

<div class="col d-flex align-items-center justify-content-center login-page bokeh-bg">
  <div class="row w-100 d-flex justify-content-center z-2">
    <div class="col-xs-12 col-sm-8 col-md-5 ">
      
      <div class="p-3 justify-content-center text-center">
       <a href="login"> <img src="assets/img/new_logo.png" > </a> 
      
        <h1 class="ml-2 mb-3 font-weight-bold font-size-7">
          Change Your Password
        </h1>

        <h5 class="ml-2 mb-3 font-weight-bold font-size-5" *ngIf="isError">
          <span class="text-danger">{{error}}!!!</span>
        </h5>

        <div class="card font-size-4" style="width:350px;text-align: center;display:inline-block">

          <!-- new password-->
          <div class="ml-3 mr-3 mt-2">
            <p2s-form-group 
                label="New Password"
                for="userNewPassword">
              <input type="password"
                      class="form-control"
                      name="userNewPassword"
                      id="userNewPassword"
                      [(ngModel)]="userPassword.userNewPassword"
                      placeholder="new password">

            </p2s-form-group>

          </div>
          <!--/ new password-->

          <!--confirm password  -->
          <div class="ml-3 mr-3 mt-2">
            <p2s-form-group
                label="Confirm Password"
                for="userConfirmPassword">
              <input type="password"
                      class="form-control"
                      name="userConfirmPassword"
                      id="userConfirmPassword"
                      [(ngModel)]="userPassword.userConfirmPassword"
                      placeholder="confirm password"> 
            </p2s-form-group>

          </div>
          <!-- /confirm-password -->

          <!--reset password button -->
          <div class="form-group ml-3 mr-3 mb-4">
            <button class="btn btn-block green"
                    (click)="resetPassword()"
                    [disabled]="validToken === false">
              change password
            </button>
          </div>
          <!--/reset password button -->


        </div> 

        <div class="text-center my-4 px-3 font-size-1">
          <!-- © Copyright Promise 2 Secure. -->
          © Copyright Sastra Creations.
          <br>
         <!-- Email: info@promise2secure.com -->
         Email: info@sastracreations.com
        
        </div>

    
      </div>
    </div>
  </div>
</div>        