<p2s-user-form-popup
    [title]="mode + ' geofence'"
    (cancel)="dismiss()"
    (save)="close()"
    [disableSave]="
      form.invalid ||
      (gf.geofenceType === 'polygon' && !gf.geofenceGeometryList.length) ||
      (gf.geofenceType === 'circle' && gf.geofenceRadius <= 0)
    ">
  <div class="row geofence-form">
    <div class="col-md-4 d-flex flex-column">
      <p2s-page-header heading="Basic Info" size="md"></p2s-page-header>
      <div class="px-2 mt-2 flex-grow-1 d-flex flex-column">
        <form #form="ngForm">
          <!-- name -->
          <p2s-form-group
              label="Name"
              for="name"
              required="true">
            <input
                id="name"
                type="text"
                class="form-control"
                name="name"
                required
                [(ngModel)]="gf.geofenceName">
          </p2s-form-group>

          <!-- type / color -->

          <div class="row">
            <div class="col-md">
              <p2s-form-group label="Geofence Type">
                <div>
                  <p2s-radio
                      [id]="'polygon'"
                      inline="true"
                      label="Ploygon"
                      value="polygon"
                      name="polygon"
                      [(ngModel)]="gf.geofenceType">
                  </p2s-radio>
                  <p2s-radio
                      [id]="'circle'"
                      inline="true"
                      label="Circle"
                      value="circle"
                      name="circle"
                      [(ngModel)]="gf.geofenceType">
                  </p2s-radio>
                </div>
              </p2s-form-group>
            </div>

            <div class="col-md-4">
              <p2s-form-group
                  label="color"
                  for="color">
                <input
                    type="color"
                    id="color"
                    class="form-control p-0"
                    name="color"
                    [(ngModel)]="gf.geofenceColor">
              </p2s-form-group>
            </div>
          </div>

          <!-- radius/ unit -->
          <div class="row">
            <div class="col-md" *ngIf="gf.geofenceType === 'circle'">
              <p2s-form-group
                  label="radius (meters)"
                  for="radius"
                  required="true">
                <input
                    class="form-control"
                    id="radius"
                    type="number"
                    name="value"
                    required
                    [(ngModel)]="gf.geofenceRadius"
                    min="0.01">
              </p2s-form-group>
            </div>

            <!-- speed -->
            <div class="col-md-6">
                <p2s-form-group
                    label="Speed Limit (km/hr)"
                    for="speed"
                    required="true">
                  <input
                      class="form-control"
                      id="speed"
                      name="speed"
                      type="number"
                      required
                      min="1"
                      [(ngModel)]="gf.geofenceSpeed">
                </p2s-form-group>
              </div>

            <!-- <div class="col-md-5">
              <p2s-form-group
                  label="unit"
                  for="unit">
                <select
                    id="unit"
                    name="unit"
                    [(ngModel)]="gf."
                    class="form-control">
                  <option value="km">km</option>
                  <option value="m">meter</option>
                </select>
              </p2s-form-group>
            </div> -->
          </div>
        </form>

        <!-- <div class="d-flex flex-column flex-grow-1">
          <p2s-page-header heading="Copy From Existing" size="md"></p2s-page-header>
          <div class="flex-grow-1 y-auto">
            <ul class="list-group">
              <li class="list-group-item">Geofence Name 1</li>
              <li class="list-group-item">Geofence Name 2</li>
              <li class="list-group-item">Geofence Name 1</li>
              <li class="list-group-item">Geofence Name 2</li>
              <li class="list-group-item">Geofence Name 2</li>
              <li class="list-group-item">Geofence Name 1</li>
              <li class="list-group-item">Geofence Name 2</li>
              <li class="list-group-item">Geofence Name 1</li>
              <li class="list-group-item">Geofence Name 2</li>
              <li class="list-group-item">Geofence Name 1</li>
              <li class="list-group-item">Geofence Name 2</li>
              <li class="list-group-item">Geofence Name 2</li>
              <li class="list-group-item">Geofence Name 1</li>
              <li class="list-group-item">Geofence Name 2</li>
              <li class="list-group-item">Geofence Name 1</li>
              <li class="list-group-item">Geofence Name 2</li>
              <li class="list-group-item">Geofence Name 1</li>
              <li class="list-group-item">Geofence Name 2</li>
              <li class="list-group-item">Geofence Name 2</li>
              <li class="list-group-item">Geofence Name 1</li>
              <li class="list-group-item">Geofence Name 2</li>
              <li class="list-group-item">Geofence Name 2</li>
              <li class="list-group-item">Geofence Name 2</li>
            </ul>
          </div>
        </div> -->
      </div>
    </div>

    <div class="col-md pl-md-0 map-section">
      <p2s-geofence-map
          *ngIf="gf"
          [geofence]="gf"
          [editable]="gf.geofenceType === 'circle'"
          [zoom]="17"
          (centerChange)="onCircleCenterChange($event)"
          (radiusChange)="onRadiusChange($event)"
          (mapClick)="onMapClick($event)">
      </p2s-geofence-map>
      <div class="map-section__input-container d-flex">
        <input
            placeholder="Search for place"
            class="form-control"
            type="text"
            #searchEl
            autocorrect="off"
            autocapitalize="off"
            spellcheck="off"
            places-auto-complete
            (place_changed)="onPlaceSelect($event)">
        <button
            [class.v-hidden]="gf.geofenceType !== 'polygon'"
            (click)="clearPolygonPoints()"
            class="btn btn-sm btn-danger ml-3 pos-r"
            ngbTooltip="Clear polygon points"
            container="body">
          <i class="fas fa-trash"></i>
        </button>
      </div>
    </div>
  </div>
</p2s-user-form-popup>