<!-- Error Page -->
<div class="error col p-0 d-flex align-items-stretch">
  <div class="ground-color text-center w-100">
    <div class="container-error-404">
        <div class="clip">
          <div class="shadow">
            <span class="digit">4</span>
          </div>
        </div>
        <div class="clip">
          <div class="shadow">
            <span class="digit">0</span>
          </div>
        </div>
        <div class="clip">
          <div class="shadow">
            <span class="digit">4</span>
          </div>
        </div>
        <div class="msg">
          OH!<span class="triangle"></span>
        </div>
    </div>
    <h2 class="h1">Sorry! Page not found</h2>
    <div>
      <a routerLink="/">Go back to Home Page</a>
    </div>
  </div>
</div>
<!-- Error Page -->