<ngb-accordion activeIds="vehicle-utilization"
               class="p2s-accordion card-stretch col-12 p-0 align-items-stretch"
               (panelChange)="isPanelOpen = !isPanelOpen"
               [class.d-flex]="isPanelOpen">
  <ngb-panel id="vehicle-utilization">

    <!-- title -->
    <ng-template ngbPanelTitle>
      <div class="d-flex align-items-center">
        Vehicle Utilization
        <div class="ml-auto">
          <i class="fa fa-chevron-right"></i>
        </div>
      </div>
    </ng-template>
    <!-- / title -->

    <!-- content -->
    <ng-template ngbPanelContent>
      <div class="vehicle-utilization__content pos-r">
        <google-chart [data]="chartData"></google-chart>
        <div class="vehicle-utilization__no-data d-flex align-items-center justify-content-center"
             *ngIf="noData">No Data Available</div>
      </div>
    </ng-template>
    <!-- / content -->
  </ngb-panel>
</ngb-accordion>