<div class="col p-0 y-auto">
  <p2s-list-page-template heading="Driver Details "
                          [editDisabled]="!selectedDriver"
                          [deleteDisabled]="!selectedDriver"
                          (add)="showDriverPopup('add')"
                          (delete)="delete()"
                          (search)="onSearch($event)" 
                          (add)="showDriverPopup('add')"
                          (edit)="showDriverPopup('edit')"
                          (delete)="delete()"
                          (pageChange)="gotoPage($event)"
                          (next)="next()"
                          (prev)="previous()"
                          (limitChange)="changeLimit($event)"
                          [page]="pagingSorting.page"
                          [totalPages]="pagingSorting.totalPages">
    <div class="my-3 table-responsive bg-white">
      <table class="table m-0 table-hover table-bordered">
        <thead>
          <tr class="bg-gray-7 text-white">
            <th class="text-center">Name</th>
            <th class="text-center">Contact No.</th>
            <th class="text-center">Tag ID</th>
            <th class="text-center">License ID</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let driver of drivers"
          class="pointer"
          [class.table-secondary]="driver == selectedDriver"
          (click)="selectedDriver = driver">
            <td>
             {{ driver.orderMngUserDto.userFirstName}} {{ driver.orderMngUserDto.userMiddleName}} {{ driver.orderMngUserDto.userLastName}}
            </td>
            <td class="text-center">
             {{ driver.orderMngUserDto.userPhone}}
            </td>
            <td class="text-center">
                {{ driver.orderMngDriverTagId}}
            </td>
            <td class="text-center">
                {{ driver.orderMngDriverLicenseId}}
            </td>
         </tr>
        </tbody>
      </table>
    </div>
  </p2s-list-page-template>
</div>