:host {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    font-size: 12px;
    background: gray;
}

.width{
    // width: 1100px;
    margin-left:75px;
    margin-right:75px;
    
}

@media print
{  .no-print
    {
     display: none !important;
    }
}

.tripCss{
    background-color:#e0e0e0d9;
}

.moving {
    background-color: green;
}

.stopped {
    background-color: red;
}

