<header class="modal-header">
  <h4 class="modal-title text-capitalize">{{mode}} Assigned Order</h4>
</header>

<form  
    [formGroup]="orderAssignForm">
  <p2s-wizard
      [stepHeaders]="wizardHeadings"
      (prev)="onPrev($event)"
      (next)="onNext($event)"
      (finish)="onComplete($event)"
      [activeStep]="1">
    
    <p2s-wizard-step-content step="1">
      <div class="row">
        <!-- tracker selection -->
        <div class="col-6">
          <p2s-form-group
              label="Search Tracker *"
              for="orderAssigntrackerId">
            <input
                type="text"
                class="form-control"
                id="orderAssigntrackerId"
                placeholder="Search tracker by name or id"
                [ngbTypeahead]="searchTracker"
                [resultFormatter]="searchTrackerFormatter"
                [inputFormatter]="searchTrackerFormatter"
                (selectItem)="onTrackerSelect($event.item)">
            <div *ngIf="searchStatus.tracker == 'searching'">
              <i class="fas fa-spinner fa-spin"></i>
              <span class="d-inline-block ml-3">Searching Tracker...</span>
            </div>
            <div class="invalid-feedback" 
                *ngIf="searchStatus.tracker === 'failed'">Tracker coundn't be loaded.
            </div>
          </p2s-form-group>
        </div>
        <!-- /tracker selection -->

       <!-- driver selection -->
       <div class="col-6">
        <p2s-form-group
            label="Search Driver *"
            for="orderAssignDriverId">
          <input
              type="text"
              class="form-control"
              id="orderAssignDriverId"
              placeholder="Search driver by name or id"
              [ngbTypeahead]="searchDriver"
              [resultFormatter]="searchDriverFormatter"
              [inputFormatter]="searchDriverFormatter"
              (selectItem)="onDriverSelect($event.item)">
          <div *ngIf="searchStatus.driver == 'searching'">
            <i class="fas fa-spinner fa-spin"></i>
            <span class="d-inline-block ml-3">Searching driver...</span>
          </div>
          <div class="invalid-feedback" 
                *ngIf="searchStatus.driver === 'failed'">driver coundn't be loaded.
          </div>
        </p2s-form-group>
      </div>
        <!-- /driver selection -->
      </div>   
    </p2s-wizard-step-content>

    <p2s-wizard-step-content step="2">
      
        <div
            class="my-3 mt-3 text-center"
            *ngIf="!orders">
          <p2s-spinner></p2s-spinner>
        </div>
    
        <p2s-list-selector
            *ngIf="orders"
            idProp="orderManagementId"
            codeProp=""
            nameProp="orderId"
            [collection]="orders"
            [selection]="orderAssign.orderAssignOrderManagementIds"
            (change)="orderAssign.orderAssignOrderManagementIds = $event"
            label="Select Orders">
        </p2s-list-selector>    
  
     
    </p2s-wizard-step-content>

    <p2s-wizard-step-content step="3">
      <div class="row">
        <!-- description -->
        <div class="col-12">
          <p2s-form-group 
              label="Description"
              for="orderAssignDescription">
            <textarea
                  id="orderAssignDescription"
                  rows="5"
                  formControlName="orderAssignDescription"
                  class="form-control">
            </textarea>
          </p2s-form-group>
        </div>
      </div>
      <!-- / description -->
    </p2s-wizard-step-content>
  </p2s-wizard>
</form>