.ibox .ibox-head .ibox-title {
  font-size: 16px;
  font-weight: 600;
}
  
.ibox {
  position: relative;
  margin-bottom: 25px;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
}
